<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345132458358-pp1fj1edqiqh17eub9vv4eg5gc13atbu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345132458358-pp1fj1edqiqh17eub9vv4eg5gc13atbu</string>
	<key>API_KEY</key>
	<string>AIzaSyAKvsO2NWHtieoUHM9yX8I7M3PjgymNnAM</string>
	<key>GCM_SENDER_ID</key>
	<string>345132458358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SSW.FakeStore</string>
	<key>PROJECT_ID</key>
	<string>fakestore-99522</string>
	<key>STORAGE_BUCKET</key>
	<string>fakestore-99522.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345132458358:ios:959f77d38cc168110e9a57</string>
</dict>
</plist>